/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}

/* Form Container */
.form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 123, 255, 0.1);
    padding: 40px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

/* Heading Style */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Button Styles */
.btn {
    width: 220px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

.btn.cancel {
    background-color: #dc3545;
    color: white;
}

.btn.cancel:hover {
    background-color: #b02a37;
}

.btn.payment {
    background-color: #007bff;
    color: white;
}

.btn.payment:hover {
    background-color: #0056b3;
}

.btn.payment a {
    text-decoration: none;
    color: white;
}

.btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}